.chat-message-container
  .chat-message__info
    %p.chat-message__username
      = chat_message.user.name
    %p.chat-message__date
      = chat_message.created_at
  .chat-message__message
    = chat_message.body
