.top-msg
.wrap
  .sidebar
    .sidebar__head
      .sidebar__head-user-box
        %p.sidebar__head-user-name<>
          test-user
        %ul.sidebar__head-user-list
          %li.sidebar__head-user-listitem
            =link_to "/groups/new", class: "sidebar__head-btn" do
              = fa_icon 'edit', class: "sidebar__head-btn--icon"
          %li.sidebar__head-user-listitem
            =link_to "/users/1/edit", class: "sidebar__head-btn" do
              = fa_icon 'cog', class: "sidebar__head-btn--icon"
    .sidebar__body
      .sidebar__chatgroup
        .sidebar__chatgroup--bold-15-white
          test-group
        .sidebar__chatgroup--bold-11-white
          さようなら
      .sidebar__chatgroup
        .sidebar__chatgroup--bold-15-white
          sample-group
        .sidebar__chatgroup--bold-11-white
          hello!
      .sidebar__chatgroup
        .sidebar__chatgroup--bold-15-white
          example
        .sidebar__chatgroup--bold-11-white
          まだメッセージがありません
  .contents
    .contents__head
      .contents__head-group-box--left
        %p.contents__head-group-name
          test-group
        %p.contents__head-group-members
          Member: test
      .contents__head-group-box--right
        =link_to "Edit", "/groups/1/edit", class: "contents__head-group-edit-btn"
    .contents__body
      .contents__body-chat-box
        .contents__body-chat-user
          %p.contents__body-chat-username
            test-user
          %p.contents__body-chat-date
            2019/06/08(Sun) 00:00:00
        .contents_body-chat-msg
          こんにちは！
    .contents__foot

