.top-msg
.wrap
  .wrap__sidebar
    .wrap__sidebar__head
      test-user
    .wrap__sidebar__body
      .wrap__sidebar__body__group
        .wrap__sidebar__body__group--bold-15-white
          test-group
        .wrap__sidebar__body__group--bold-11-white
          さようなら
  .wrap__contents
    .wrap__contents__head
    .wrap__contents__body
    .wrap__contents__foot

  