$white: #ffffff;
$light_blue: #38aef0;
$orange: #F35500;
$head_height: 90px;
$form_height: 50px;
$sidebar_width: 300px;
$btn_color: $light_blue;
$message_light_color: #999999;
$message_color: #434A54;
$message_bg_color: #fafafa;
$foot_message_pad_left: 10px;