@mixin auto_align_text($height) {
  height: $height;
  line-height: $height;
}

@mixin bold_font($px, $color: $white) {
  font-weight: bold;
  color: $color;
  font-size: $px;
}

@mixin normal_font($px, $color: $white) {
  color: $color;
  font-size: $px;
}

@mixin wh100percent {
  height: 100%;
  width: 100%;
}

@mixin side_padding($px) {
  padding: 0 $px;
}

@mixin fit {
  &--fit {
    box-sizing: border-box;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin atag_text-decoration_none {
      & a {
        text-decoration: none;
      }
}