.chat-group
  = link_to group_messages_path(chat_group) do
    .chat-group__name
      = chat_group.name
    .chat-group__info
      - unless chat_group.messages.empty?
        = chat_group.messages.last.body unless chat_group.messages.last.body.nil?
        = image_tag chat_group.messages.last.image.url(:thumb) unless chat_group.messages.last.image.file.nil?
      - else
        まだメッセージはありません。
