.sidebar {
  @include flex-column;
  height: 100vh;
  width: $sidebar_width;
  background-color: #2f3e51;

  &__head {
    @include side_padding(20px);
    background-color: #253141;
    flex-shrink: 0;

    .chat-user {
      @include bold_font(16px);
      @include auto_align_text($head_height);
      display: flex;
      justify-content: space-between;

      &__items {
        display: flex;
      }
      &__item {
        padding-left: 5px;
      }
      &__btn {
        text-decoration: none;
        color: $white;
      }
    }
  }

  &__chat-groups {
    @include side_padding(20px);
    @include atag_text-decoration_none;
    padding-top: 20px;
    overflow-y: scroll;

    .chat-group {
      padding-bottom: 40px; 

      &__name {
        @include normal_font(15px);
        padding-bottom: 5px;
        text-decoration: none;
      }
      &__info {
        @include normal_font(11px);
      }
    }
  }
}