::-webkit-scrollbar { 
    display: none; 
}

.flash-msg {
  text-align: center;
  &--notice {
    @extend .flash-msg;
    background-color: $light_blue;
    color: $white;
  }
  &--alert {
    @extend .flash-msg;
    background-color: $orange;
    color: $white;
  }
}

.wrap {
  display: flex;
  overflow: -moz-scrollbars-none;
}

@import "modules/group";
@import "modules/user";
@import "modules/sidebar";
@import "modules/contents";