::-webkit-scrollbar { 
    display: none; 
}

.top-msg {
  background-color: $light_blue;
}

.wrap {
  display: flex;
  overflow: -moz-scrollbars-none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: $sidebar_width;
  background-color: #2f3e51;

  &__head {
    padding: $side_padding20;
    background-color: #253141;
    flex-shrink: 0;

    .chat-user {
      @include bold_font(16px);
      @include auto_align_text($head_height);
      display: flex;
      justify-content: space-between;

      &__items {
        display: flex;
      }
      &__item {
        padding-left: 5px;
      }
      &__btn {
        text-decoration: none;
        color: $white;
      }
    }
  }

  &__chat-groups {
    padding: $side_padding20;
    overflow-y: scroll;

    .chat-group {
      padding-top: 20px;
      padding-bottom: 40px; 

      &__name {
        @include bold_font(15px);
        padding-bottom: 5px;
      }
      &__info {
        @include bold_font(11px);
      }
    }
  }
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: calc(100vw - #{$sidebar_width});

  &__head {
    @include fit;
    height: $head_height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    padding: $side_padding40;
    background-color: $white;
    flex-shrink: 0;

    .current-group {
      &--left {
        @include wh100percent;
      }
      &--right {
        height: 100%;
      }
      &__name {
        @include auto_align_text(20px);
        @include normal_font(20px, #333333);
        padding-top: 35px;
        padding-bottom: 15px;
      }
      &__members {
        @include auto_align_text(12px);
        @include normal_font(12px, $message_light_color);
      }
      &__btn {
        @include fit;
        @include auto_align_text(40px);
        display: block;
        margin-top: 28px;
        padding: $side_padding20;
        border: solid 1px $btn_color;
        color: $btn_color;
        text-decoration: none;
      }
    }
  }

  &__chat-messages {
    height: 100vh;
    padding-top: 46px;
    background-color: $message_bg_color;
    overflow-y: scroll;

    .chat-message-container {
      padding: 0 40px 40px 40px;
    }

    .chat-message {
      &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 10px;
      }
      &__username {
        @include bold_font(16px, $message_color);
      }
      &__date {
        padding-left: 10px;
        @include normal_font(12px, $message_light_color);
      }
      &__message {
        @include normal_font(14px, $message_color);
      }
    }
  }

  &__foot {
    padding: 20px 40px;
    background-color: lighten($message_light_color, 30%);
    flex-shrink: 0;

    .chat-form {
      display: flex;
      @include wh100percent;

      &__upload {
        position: relative;
        width: 100%;
        height: $form_height;
        margin-right: 15px;
        
        &--label {
          position: absolute;
          top: calc(#{$form_height} / 2);
          left: calc(100% - 10px);
          transform: translateX(-100%) translateY(-50%);
        }
        &--icon {
          font-size: 20px;
        }
        &--hidden {
          display: none;
        }
      }
      &__message {
        @include normal_font(16px, $message_color);
        height: 100%;
        width: calc(100% - 10px);
        border-style: none;
        padding-left: 10px;
      }
      &__btn {
        @include fit;
        background-color: $btn_color;
        color: $white;
        padding: $side_padding20;
      }
    }
  }
}
