$white: #ffffff;
$side_padding20: 0 20px;
$side_padding40: 0 40px;
$head_height: 90px;
$light_blue_color: #38aef0;
$btn_color: $light_blue_color;
$submsg_color: #999999;
$msg_color: #434A54;
$msg_back_color: #fafafa;
$foot_color: lighten($submsg_color, 50%);
$form_height: 50px;